.photographer-page {
    margin: 0 100px;
    padding-bottom: 150px;
}

#contact_modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 22%;
    top: 2%;
    width: 65vw;
    height: 95vh;
    background: #DB8876;
    border-radius: 5px;
    overflow: auto;
}

.photograph-header article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background-color: #FAFAFA;
    align-items: center;
    gap: 15px;
    min-width: 800px;
    margin-bottom: 20px;
    height: 300px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover, .contact_button:focus {
    background-color: #DB8876;
    color: black;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 22px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.photographer-info {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.photographer-info h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 60px;


    color: #D3573C;
    margin-bottom: 16px;
}


.photographer-info .location {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 19px;
    color: #901C1C;
}

.photographer-info .tagline {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;

    color: #525252;
}

.media {
    max-width: 350px;
    width: 100%;
    object-fit: cover;
    height: 300px;
}

.media:hover, .media:focus {
    opacity: 0.4;
}


.media-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.media-list article {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}


.media-list article a:focus {
    opacity: 0.4;
}

.media-text {
    display: flex;
    width: 350px;
    justify-content: space-between;
    margin-top: 10px;
}

.likeButton,
.close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.likeButton .fa {
    color: #911C1C;
    font-size: 24px;
    text-align: center;
}

.mediaName,
.likeNumber {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;

    color: #911C1C;
}

.media-like {
    display: flex;
    gap: 10px;
    align-items: center;
}

.totalLikes-price {
    display: flex;
    justify-content: space-between;

    position: fixed;
    bottom: 0;
    right: 0;

    background: #DB8876;
    border-radius: 5px;

    width: 376px;
    height: 89px;
    z-index: 100;
}

.totalLikes-price * {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-align: right;
    color: #000000;
}

.totalLikes {
    display: flex;
    gap: 10px;
}

.totalLikes-price .totalLikes,
.totalLikes-price .price {
    margin: 30px;
}

.close-btn {
    color: white;
    font-size: 64px;
    font-weight: 500;
}

.text-control {
    margin: 0;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    height: 68px;
    padding: 0;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 1.2em;
    color: white;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
    opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
    border: 2px solid #e54858;
}

.lightbox,
.lightbox-div {
    display: flex;
    justify-content: center;
    min-height: 80vh;
}

.lightbox-div {
    flex-direction: column;
    justify-content: center;
}

.lightbox-img {
    margin: 35px 0;
}

.lightbox-img img {
    max-width: 80vw;
    max-height: 80vh;
    margin: auto;
    border-radius: 0.6rem;
    object-fit: cover;
}

.lightbox-btn {
    border: none;
    background: none;
    color: #901C1C;
    font-weight: bold;
    font-size: 48px;
    cursor: pointer;
}

.lightbox-close {
    float: right;
    position: absolute;
    top: 0;
    right: 20px;
}

.lightbox-content {
    width: 100%;
    height: 100%;
    background: white;
    padding: 20px;
    border-radius: 20px;
}

.img-text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;

    color: #911C1C;
}

.lightbox-container {
    display: none;
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    background: white;
}

.sort-div {
    display: flex;
    justify-content: flex-start;
}
.sort-label {
    font-weight: 700;
    font-size: 18px;
    margin-right: 25px;
    align-self: center;
}

.select {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 170px;
    background: #911C1C;
    border-radius: 5px;
}

.dropdown-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 700;
    background: #911C1C;
    height: 60px;
    line-height: 60px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
}

.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.line {
    display: block;
    width: 80%;
    height: 1px;
    content: "";
    background: #ffffff;
    margin: 0 auto;
}


.dropdown-content {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 0;
    background: #911C1C;

    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.select.open .dropdown-content {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.dropdown-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.5s;
}

.dropdown-option:hover {
    cursor: pointer;
    background-color: #DB8876;
}

.arrowDown {
    position: relative;
    height: 15px;
    width: 15px;

}

.arrowDown::before,
.arrowDown::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
}

.arrowDown::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: #ffffff;
}

.arrowDown::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: #ffffff;
}

.open .arrowDown::before {
    left: -5px;
    transform: rotate(-45deg);
}

.open .arrowDown::after {
    left: 5px;
    transform: rotate(45deg);
}


.form-title,
.form-photographerName {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;

    color: #000000;
}

.form-header {
    display: flex;
    justify-content: space-between;

}

.form {
    margin: 35px;
}

.btn-submit {
    width: 170px;
    height: 69px;
    background: #911C1C;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    margin-top: 26px;
    cursor: pointer;
}

.btn-submit:hover, .btn-submit:focus {
    background: #DB8876;
    color: black;
}

.btn-submit:disabled {
    background: #290101;
    color: #383636;
}

textarea {
    height: 170px !important;
}

#successModal {
    visibility: hidden;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.success-msg {
    font-size: 36px;
    text-align: center;
}

.modalFermer-btn {
    align-content: center;
    position: relative;
    bottom: -200px;
}