#main {
    margin: 0 100px;
}

#contact_modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 22%;
    top: 0;
    width: 669px;
    height: 900px;
    background: #DB8876;
    border-radius: 5px;
    overflow: auto;
}

.photograph-header {
    display: flex;
    background-color: #FAFAFA;
    height: 300px;
    margin-bottom: 20px;
}

.photograph-header article {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.photograph-header article img {
    height: 200px;
    width: 200px;
    margin: auto 50px;
    border-radius: 50%;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 22px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.photographer-info {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.photographer-info h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 47px;


    color: #D3573C;
    margin-bottom: 16px;
}


.location {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;


    margin-bottom: 19px;
    color: #901C1C;
}

.tagline {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;

    color: #525252;
}

.media {
    width: 350px;
    height: 300px;
}


.media-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 95px;
}

.media-list article {
    display: flex;
    flex-direction: column;
}

.media-text {
    display: flex;
    width: 350px;
    justify-content: space-between;
    margin-top: 10px;
}

.mediaName,
i,
.likeNumber {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;

    color: #911C1C;
}

.media-like {
    display: flex;
    gap: 10px;
    align-items: center;
}

.totalLikes-price {
    display: flex;
    justify-content: space-between;

    position: fixed;
    bottom: 0;
    right: 0;

    background: #DB8876;
    border-radius: 5px;

    width: 376px;
    height: 89px;
    z-index: 100;
}

.totalLikes-price * {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-align: right;
    color: #000000;
}

.totalLikes {
    display: flex;
    gap: 10px;
}

.totalLikes,
.price {
    margin: 30px;
}

.close-btn {
    color: white;
    font-size: 64px;
    font-weight: 500;
}

.text-control {
    margin: 0;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    height: 68px;
    padding: 0;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 1em;
    color: #e54858;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
    opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
    border: 2px solid #e54858;
}

.lightbox,
.lightbox-div {
    display: flex;
    justify-content: center;
}

.lightbox-div {
    flex-direction: column;
    justify-content: center;
}

.lightbox-img {
    margin: 35px 0;
}

.lightbox-img img {
    width: 100%;
    height: 80vh;
    margin-bottom: 12px;
}

.lightbox-btn {
    border: none;
    background: none;
    color: #901C1C;
    font-weight: bold;
    font-size: 48px;
    cursor: pointer;
}

.lightbox-close {
    float: right;
    position: absolute;
    top: 0;
    right: 20px;
}

.lightbox-content {
    width: 100%;
    height: 100%;
    background: white;
    padding: 20px;
    border-radius: 20px;
}

.img-text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;

    color: #911C1C;
}

.lightbox-container {
    display: none;
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    background: white;
}

.sort-label {
    font-weight: 700;
    font-size: 18px;
    margin-right: 25px;
}

#sort-select,
#sort-select * {
    width: 170px;
    height: 60px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    text-align: center;
}

#sort-select {
    background: #911C1C;
    border-radius: 5px;
    margin-bottom: 58px;
}

.form-title,
.form-photographerName {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;

    color: #000000;
}

.form-header {
    display: flex;
    justify-content: space-between;

}

.form {
    margin: 35px;
}

.btn-submit {
    width: 170px;
    height: 69px;
    background: #911C1C;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    margin-top: 26px;
}

textarea {
    height: 170px !important;
}

#successModal {
    visibility: hidden;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.success-msg {
    font-size: 36px;
    text-align: center;
}

.fermer-btn {
    align-content: center;
    position: relative;
    bottom: -200px;
}